
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-icons {
    position: absolute;
    top: 10px;
    right: 70px;
    display: flex;
    align-items: center;
}

.top-icons a {
    margin-left: 10px;
    text-decoration: none;
    color: #333; 
    font-size: 24px; 
    margin-right: 10px;
}

.vertical-nav {
    width: 320x;
    background-color: #333;
    padding: 10px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    transition: left 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu-toggle {
    font-size: 24px;
    color: #000000;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2;
}

.vertical-nav.open {
    left: 0;
}

.vertical-nav ul {
    display: none;
}

.vertical-nav.open ul {
    display: block;
}

.vertical-nav ul li {
    margin-bottom: 5px;
}

.vertical-nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding-top: 15px;
    padding-right:40px;
    border-radius: 10px;
    font-family: "Georgia",sans-serif;
}


main {
    margin-left: 270px;
    padding: 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.profile-nav {
    width: 300px;
    background-color: #333;
    padding: 10px;
    position: fixed;
    top: 0;
    right: -250px;
    height: 100%;
    transition: right 0.3s;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
}

.profile-toggle {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 2;
    
}

.profile-nav.open {
    right: 0;
}

.profile-nav ul {
    display: none;
}

.profile-nav.open ul {
    display: block;
}

.profile-nav ul li {
    margin-bottom: 5px;
}

.profile-nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px;
    border-radius: 5px;
    font-family: "Georgia",sans-serif;
}
.a{     
        display:block;
	justify-content:center;
        flex-direction:column;
	align-items: center;
	height:300vh;
	text-align: center;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
         width: 300px; 
    position: absolute;
    top: 250px; 
    left: 450px; 
			}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.intro {
    background-size: cover;
    background-position: center;
    color: #fff;
    width: 1500px;
    text-align: center;
    padding: 10px;
    height: 200px;
    font-family: "Georgia",sans-serif;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first {
    display: inline-block;
    padding: 5px 10px; 
    background-color: #f0f0f0; 
    border: 1px solid #ccc;
    border-radius: 5px; 
    color: #333; 
    font-size:20px;
    font-family:san-serif;
    text-align:left;
    font-family: "Georgia",sans-serif;
}
.collection{
    align-items: right;
   display: flex;
    justify-content: flex-end;
    padding-top:20px;
    text-align:left;
    padding-right:20px;
}
.vdo{
    display: flex;
    justify-content: center;
    align-items: center;
   display: inline-block;
    padding: 5px 10px;
}

.news {
    padding: 20px;
    background-color: #EBDEF0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.news-article {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    margin-left: 20px;
    margin-right: 120px;
    background-color: #fff;
}
.article-header {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 60px; 
}
.sender-info {
    margin-left: 20px;
}
.article-header h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.article-date {
    color: #888;
    font-size: 14px;
    margin-bottom: 10px;
}

.article-content h3{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 30px;
}

.article-content img{
    width: 400px;
}


.article-content h3{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 30px;
}


.read-more-link {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
} 