
* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #ebdef0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #ebdef0;
    margin-top: 20px;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.input-section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

textarea {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

 .input-image {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
} 

.buttons {
    margin-top: 10px;
}

.buttons{
    padding: 10px 20px;
    background-color: #bb8fce;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}
.buttons:hover {
    background-color: #9d71ad;
  }
.notes-list {
    margin-top: 20px;
}

h2 {
    font-size: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
